body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul,
li {
  padding: 0;
}
button,
input,
textarea,
select {
  font-family: inherit;
}
